{% extends 'public/base.html.twig' %}

{% block body %}
	<div class="card card-success">
		<div class="card-body">
			<div class="row" {{ stimulus_controller('open-modal', {url: path('app_public_projet_modal')} ) }}>
				{% for project in projects %}
					<div class="col-md-4 mb-4">
						<div class="card project-card">
							<img src="{{ vich_uploader_asset(project, 'imageFile') }}"
                             alt="{{project.name }}"
                             title="{{ project.name }}"
                             class="card-img-top img-fluid mx-auto mt-4"
                              style="max-width: 200px; max-height: 300px;">
							<div class="card-body">
								<h5 class="card-title">{{project.name}}</h5>
								<p class="card-text mt-3">{{project.resume | raw}}</p>
								<div class="btn btn-primary"
									data-toggle="modal" 
									data-target="#projectModal" 
									data-title="Projet 1: Application Web" 
									data-description="Détails supplémentaires sur l'application web. Technologies utilisées : HTML, CSS, JavaScript."
									{{ stimulus_action('open-modal', 'show', 'click', { 'id': project.id }) }}
								>
									Voir le projet
								</div>
							</div>
						</div>
					</div>
					{{ include ("public/fragments/body/projet/_modal.html.twig", {
						modalTitle: project.name,
					}) }}
				{% endfor %}
			</div>
	</div>
{% endblock %}



