{% extends 'public/base.html.twig' %}

{% block body %}
	<section class="content" {{ stimulus_controller('select2', { url: path('app_public_project_show') } ) }}>
		<div class="d-flex flex-column align-items-left mb-5">
			<div class="form-group" style="min-width: 200px; max-width: 300px; width: 100%;">
				<select name="category-project" class="form-control select2 mb-3" required style="width: 100%;" {{ stimulus_target('select2', 'select') }}>
					<option id="T" value="T">Toutes les catégories</option>
					{% for key, category in categories %}
						<option class="text-white" id="{{ key }}" value="{{ key }}" {% if categoryID == key %} selected {% endif %}>
							{{ categories[key] }}
						</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div {{ stimulus_target('select2', 'content') }} class"mt-5">
			{% include "public/fragments/body/projet/_content.html.twig" %}
		</div>
	</section>
{% endblock %}
