<div class="modal-header">
	<h5 class="modal-title">
		{{ modalTitle }}
	</h5>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>


<div class="modal-body mx-0">
	<div class="text-center mb-3">
		<img src="{{ vich_uploader_asset(project, 'imageFile') }}" alt="{{project.name }}" title="{{ project.name }}" class="card-img-top img-fluid mx-auto mt-4" style="max-width: 500px;">
	</div>

	<p id="projectModalDescription" class="mt-5">
		{{project.description | raw}}
	</p>
	<p>
		<strong>Technologies et outils utilisés:</strong>
		<span id="projectModalTechnologies">

			{% for technos in project.techno %}
				{{technos.name}}
				{% if not loop.last %},
				{% endif %}
			{% endfor %}

		</span>
	</p>
	<p class="text-white text-bold">
		Documentation:
		<a id="projectModalLink" href="{{project.url}}" target="_blank">
			{{project.url}}
		</a>
	</p>
</div>
