<div class="modal-body">
    <div class="text-center mb-3">
    <img src="{{ vich_uploader_asset(project, 'imageFile') }}"
            alt="{{project.name }}"
            title="{{ project.name }}"
            class="card-img-top img-fluid mx-auto mt-4"
        style="max-width: 1000px;">
    </div>

    <p id="projectModalDescription">
       {{project.description}}                                                                                                                                                                                                                                                                                                                                                                                                                Elle offre également des fonctionnalités de tri et de filtrage, permettant aux utilisateurs de gérer efficacement leur emploi du temps.
    </p>
    <p>
        <strong>Technologies utilisées:</strong>
        <span id="projectModalTechnologies">

            {% for technos in project.techno %}
                {{technos.name}} {% if not loop.last %}, {% endif %}
            {% endfor %}
        
        </span>
    </p>
        
    <p class="text-white text-bold"> Documentation: <a id="projectModalLink" href="{{project.url}}" target="_blank"> {{project.url}} </a></p>
</div>
