{% extends 'base.html.twig' %}

{% block body %}
	<!-- Main node for this component -->
	<div
		class="timeline">
		<!-- Timeline time label -->
		<div class="time-label">
			<span class="bg-gray  text-warning">Sept 2024 - Août 2026</span>
		</div>
		<div>
			<!-- Before each timeline item corresponds to one icon on the left scale -->
			{{ ux_icon('carbon:education', {class: 'timeline-icon'}) }}

			<!-- Timeline item -->
			<div
				class="timeline-item">
				<!-- Header. Optional -->
				<h3 class="timeline-header text-white">
					Technicien Systèmes & Réseaux (alternance) - GROUPE ESIEA
				</h3>
				<!-- Body -->
				<div class="timeline-body">
					<p>Missions :</p>
					<ul>
						<li>Support utilisateur de premier niveau</li>
						<li>Installation et configuration de serveurs d’application Windows et Linux</li>
						<li>Gestion et mise à jour des infrastructures de virtualisation</li>
						<li>Configuration et Déploiement d’éléments actifs (réseau)</li>
					</ul>
				</div>
			</div>
		</div>
		<div
			class="timeline mt-5">
			<!-- Timeline time label -->
			<div class="time-label">
				<span class="bg-gray">Juillet - Août 2024 (Jeux Olympiques)</span>
			</div>
			<div>
				<!-- Before each timeline item corresponds to one icon on the left scale -->
				{{ ux_icon('mdi:company', {class: 'timeline-icon'}) }}

				<!-- Timeline item -->
				<div
					class="timeline-item">
					<!-- Header. Optional -->
					<h3 class="timeline-header text-white">
						Technicien informatique - Atos
					</h3>
					<!-- Body -->
					<div class="timeline-body">
						<p>Missions :</p>
						<ul>
							<li>Installations/désinstallation physique des ordinateurs de bureau, des ordinateurs portables, des imprimantes et d’autres appareils informatiques (VCD server)</li>
							<li>Support de proximité auprès des utilisateurs</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div
			class="timeline mt-5">
			<!-- Timeline time label -->
			<div class="time-label">
				<span class="bg-gray">2023</span>
			</div>
			<div>
				<!-- Before each timeline item corresponds to one icon on the left scale -->
				{{ ux_icon('mdi:company', {class: 'timeline-icon'}) }}

				<!-- Timeline item -->
				<div
					class="timeline-item">
					<!-- Header. Optional -->
					<h3 class="timeline-header text-white">
						Développeur web (Stage) - Substances Actives
					</h3>
					<!-- Body -->
					<div class="timeline-body">
						<p>Missions :</p>
						<ul>
							<li>Création d'une application de prise de rendez-vous médicaux</li>
							<li>Modernisation d'une application métier dédiée aux professionnels de santé</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div
			class="timeline mt-5">
			<!-- Timeline time label -->
			<div class="time-label">
				<span class="bg-gray">2023</span>
			</div>
			<div>
				<!-- Before each timeline item corresponds to one icon on the left scale -->
				{{ ux_icon('carbon:education', {class: 'timeline-icon'}) }}

				<!-- Timeline item -->
				<div
					class="timeline-item">
					<!-- Header. Optional -->
					<h3 class="timeline-header text-white">
						Développeur web (formation) - Ecole O'Clock
					</h3>
					<!-- Body -->
					<div class="timeline-body">
						<p>
							"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
						</p>
						<p>
							Missions :
						</p>
					</div>
				</div>
			</div>
		</div>


		<div
			class="timeline mt-5">
			<!-- Timeline time label -->
			<div class="time-label">
				<span class="bg-gray">2009 - 2022</span>
			</div>
			<div>
				<!-- Before each timeline item corresponds to one icon on the left scale -->
				{{ ux_icon('mdi:company', {class: 'timeline-icon'}) }}

				<!-- Timeline item -->
				<div
					class="timeline-item">
					<!-- Header. Optional -->
					<h3 class="timeline-header text-white">
						Gestionnaire Back-office en banque et assurances
					</h3>
					<!-- Body -->
					<div class="timeline-body">
						<p>
							"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
						</p>
						<p>
							Missions :
						</p>
					</div>
				</div>
			</div>
		</div>

		<!-- The last icon means the story is complete -->
		<div>
			<i class="fas fa-clock bg-gray"></i>
		</div>
	</div>
{% endblock %}
