{% extends 'base.html.twig' %}

{% block body %}
	<!-- Main node for this component -->
	<div
		class="timeline">
		<!-- Timeline time label -->
		<div class="time-label">
			<span>Sept 2024 - Août 2026</span>
		</div>
		<div>
			<!-- Before each timeline item corresponds to one icon on the left scale -->
			{{ ux_icon('carbon:education', {class: 'timeline-icon'}) }}

			<!-- Timeline item -->
			<div
				class="timeline-item bg-gray">
				<!-- Header. Optional -->
				<h3 class="timeline-header">
					Technicien Supérieur Systèmes & Réseaux (alternance) - GROUPE ESIEA
				</h3>
				<!-- Body -->
				<div class="timeline-body">
					<p>
						"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
					</p>
					<p>
						Missions :
					</p>
				</div>
			</div>
		</div>

		<div
			class="timeline mt-4">
			<!-- Timeline time label -->
			<div class="time-label">
				<span>Juillet - Août 2024</span>
			</div>
			<div>
				<!-- Before each timeline item corresponds to one icon on the left scale -->
				{{ ux_icon('mdi:company', {class: 'timeline-icon'}) }}

				<!-- Timeline item -->
				<div
					class="timeline-item bg-gray">
					<!-- Header. Optional -->
					<h3 class="timeline-header">
						Technicien informatique - Atos
					</h3>
					<!-- Body -->
					<div class="timeline-body">
						<p>
							"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
						</p>
						<p>
							Missions :
						</p>
					</div>
				</div>
			</div>
		</div>

		<div
			class="timeline mt-3">
			<!-- Timeline time label -->
			<div class="time-label">
				<span>2023</span>
			</div>
			<div>
				<!-- Before each timeline item corresponds to one icon on the left scale -->
				{{ ux_icon('mdi:company', {class: 'timeline-icon'}) }}

				<!-- Timeline item -->
				<div
					class="timeline-item bg-gray">
					<!-- Header. Optional -->
					<h3 class="timeline-header">
						Développeur web (Stage) - Substances Actives
					</h3>
					<!-- Body -->
					<div class="timeline-body">
						<p>
							"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
						</p>
						<p>
							Missions :
						</p>
					</div>
				</div>
			</div>
		</div>

		<div
			class="timeline mt-3">
			<!-- Timeline time label -->
			<div class="time-label">
				<span>2023</span>
			</div>
			<div>
				<!-- Before each timeline item corresponds to one icon on the left scale -->
				{{ ux_icon('carbon:education', {class: 'timeline-icon'}) }}

				<!-- Timeline item -->
				<div
					class="timeline-item bg-gray">
					<!-- Header. Optional -->
					<h3 class="timeline-header">
						Développeur web (formation) - Ecole O'Clock
					</h3>
					<!-- Body -->
					<div class="timeline-body">
						<p>
							"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
						</p>
						<p>
							Missions :
						</p>
					</div>
				</div>
			</div>
		</div>


		<div
			class="timeline mt-3">
			<!-- Timeline time label -->
			<div class="time-label">
				<span>2009 - 2022</span>
			</div>
			<div>
				<!-- Before each timeline item corresponds to one icon on the left scale -->
				{{ ux_icon('mdi:company', {class: 'timeline-icon'}) }}

				<!-- Timeline item -->
				<div
					class="timeline-item bg-gray">
					<!-- Header. Optional -->
					<h3 class="timeline-header">
						Gestionnaire Back-office en banque et assurances
					</h3>
					<!-- Body -->
					<div class="timeline-body">
						<p>
							"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
						</p>
						<p>
							Missions :
						</p>
					</div>
				</div>
			</div>
		</div>

		<!-- The last icon means the story is complete -->
		<div>
			<i class="fas fa-clock bg-gray"></i>
		</div>
	</div>
{% endblock %}
