{% include 'admin/fragments/_flash-messages.html.twig' %}

<div class="card-header">
    <h3 class="card-title text-bold">Les projets</h3>
</div>

<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="col-3">Nom</th>
                    <th class="col-2">Icône</th>
                    <th class="col-6">Url</th>
                    <th class="col-1 text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
               {% for socialnetwork in socialnetworks %}
              <tr {{ stimulus_controller('modal-form', {
                formUrl: path('app_admin_socialnetwork_edit', {id:socialnetwork.id})
            }) }}>
                    <td> {{socialnetwork.name}} </td>
                    <td> {{ ux_icon(socialnetwork.icone, {height: '30px', width: '30px', 'aria-hidden': true}) }} </td>
                    <td> {{socialnetwork.url}} </td>
                    <td>
                        <div class="text-center d-flex justify-content-center border-bottom-1">
                            <!-- Premier élément : Modal -->
                            {{ include ("admin/fragments/_modal.html.twig", { modalTitle: 'Modifier ce réseau social' }) }}

                            <!-- Deuxième élément : Icône et texte -->
                            <p class="text-warning" {{ stimulus_action('modal-form', 'openModal', 'click') }} style="font-size: 25px; margin: 0 10px;">
                                {{ ux_icon('flowbite:edit-outline') }}
                            </p>

                            <!-- Troisième élément : Delete -->
                            {% include 'admin/socialnetwork/_delete.html.twig' %}
                        </div>
                    </td>
             </tr>
        {% else %}
            <td colspan="4" class="text-center"> Aucun réseau social trouvé!</td>
        {% endfor %}
            </tbody>
        </table>
    </div>
</div>
