<aside class="main-sidebar sidebar-dark-warning elevation-4">

    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column sidebar" data-widget="treeview" role="menu"
                data-accordion="false">
                <li class="nav-item">
                	<a class="nav-link active" href="{{ path('app_admin_presentation') }}">
						{{ ux_icon('icon-park-solid:people', {height: '18px', width: '18px', 'aria-hidden': true}) }}
						<p>
							Présentation
						</p>
					</a>
                </li>
				<li class="nav-item">
                    <a class="nav-link" href="{{ path('app_admin_parcours') }}">
						{{ ux_icon('ic:round-work-history', {height: '18px', width: '18px', 'aria-hidden': true}) }}
						<p>
							Parcours pro.
						</p>
					</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
						{{ ux_icon('game-icons:stairs-goal', {height: '18px', width: '18px', 'aria-hidden': true}) }}
						<p>
							Compétences
						</p>
					</a>
                </li>
				<li class="nav-item">
                    <a class="nav-link">
						{{ ux_icon('vaadin:diploma', {height: '18px', width: '18px', 'aria-hidden': true}) }}
						<p>
							Certifications
						</p>
					</a>
                </li>
				<li class="nav-item">
                    <a class="nav-link">
						{{ ux_icon('mage:light-bulb-fill', {height: '18px', width: '18px', 'aria-hidden': true}) }}
						<p>
							Projets
						</p>
					</a>
                </li>
				<li class="nav-item">
                    <a class="nav-link">
						{{ ux_icon('carbon:cloud-monitoring', {height: '18px', width: '18px', 'aria-hidden': true}) }}
						<p>
							Veille techno
						</p>
					</a>
                </li>
            </ul>
        </nav>
    </div>
</aside>