<aside class="main-sidebar sidebar-dark-primary elevation-4">
	<div class="sidebar">
		<nav class="mt-2" style="border-bottom: 1px solid #4f5962">
			<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
				<li class="nav-item mb-4">
					 <a href="{{ path('app_public_profil_index') }}" class="nav-link {{ app.request.get('_route') == 'app_public_profil_index' ? 'active' }}">
						{{ ux_icon('icon-park-solid:people', {height: '18px', width: '18px', 'aria-hidden': true}) }}
						<p>
							Profil
						</p>
					</a>
				</li>
				<li class="nav-item mb-4">
					 <a href="{{ path('app_public_parcours_index') }}" class="nav-link {{ app.request.get('_route') == 'app_public_parcours_index' ? 'active' }}">
						{{ ux_icon('ic:round-work-history', {height: '18px', width: '18px', 'aria-hidden': true}) }}
						<p>
							Parcours
						</p>
					</a>
				</li>
				<li class="nav-item mb-4">
					 <a href="{{ path('app_public_certification_index') }}" class="nav-link {{ app.request.get('_route') == 'app_public_certification_index' ? 'active' }}">
						{{ ux_icon('vaadin:diploma', {height: '18px', width: '18px', 'aria-hidden': true}) }}

						<p>
							Certifications
						</p>
					</a>
				</li>
				<li class="nav-item mb-4">
					 <a href="{{ path('app_public_competence_index') }}" class="nav-link {{ app.request.get('_route') == 'app_public_competence_index' ? 'active' }}">
						{{ ux_icon('game-icons:stairs-goal', {height: '18px', width: '18px', 'aria-hidden': true}) }}

						<p>
							Compétences
						</p>
					</a>
				</li>
				<li class="nav-item mb-4">
					 <a href="{{ path('app_public_projet_index') }}" class="nav-link {{ app.request.get('_route') == 'app_public_projet_index' ? 'active' }}">
						{{ ux_icon('mage:light-bulb-fill', {height: '18px', width: '18px', 'aria-hidden': true}) }}

						<p>
							Projets techniques
						</p>
					</a>
				</li>
				<li class="nav-item mb-4">
					 <a href="{{ path('app_public_veille_index') }}" class="nav-link {{ app.request.get('_route') == 'app_public_veille_index' ? 'active' }}">
						{{ ux_icon('carbon:cloud-monitoring', {height: '18px', width: '18px', 'aria-hidden': true}) }}
						<p>
							Veille techno.
						</p>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</aside>
