<div class="col-12 d-flex justify-content-center">
    {{ form_errors(form) }}
                <div class="card-body">
                    {{ form_start(form) }}
                    
                   <div class="form-group">
                        <!-- Label -->
                        <label for="{{ form.name.vars.id }}" class="form-label d-block text-left font-weight-bold">{{ form_label(form.name) }}</label>
                        <!-- Input Field -->
                        <div class="input-group mb-3">
                            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }} <!-- Ajout d'une classe de contrôle de formulaire Bootstrap -->
                        </div>

                        <!-- Affichage des erreurs -->
                        <div class="invalid-feedback d-block">
                            {{ form_errors(form.name) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <!-- Label -->
                        <label for="{{ form.imageFile.vars.id }}" class="form-label d-block text-left font-weight-bold">{{ form_label(form.imageFile) }}</label>
                        <!-- Input Field -->
                        <div class="input-group mb-3">
                            {{ form_widget(form.imageFile, {'attr': {'class': 'form-control'}}) }} <!-- Ajout d'une classe de contrôle de formulaire Bootstrap -->
                        </div>

                        <!-- Affichage des erreurs -->
                        <div class="invalid-feedback d-block">
                            {{ form_errors(form.imageFile) }}
                        </div>
                    </div>
                    <div class="input-group mb-3 d-block"
                            {{ stimulus_controller('summernote', {
                                'height' : 100,
                                'focus' : 1,
                                'style' :  ['style', ['bold', 'italic', 'underline', 'clear']],
                                'font' :  ['font', ['strikethrough', 'superscript', 'subscript']],
                                'fontsize' :  ['fontsize', ['']],
                                'color' : ['color', ['color']],
                                'para' : ['para', ['style', 'ul', 'ol', 'paragraph', 'height']],
                                'insert' : ['Insert', ['link', 'hr']],
                                'misc' : ['Misc', ['fullscreen', 'codeview', 'undo', 'redo']],
                                'placeholder': "Description",
                            }) }}
                    >
                        {{ form_row(form.resume, {attr: {'class': 'summernote'}}) }}
                    </div>
                    <div class="input-group mb-3 d-block"
                            {{ stimulus_controller('summernote', {
                                'height' : 300,
                                'focus' : 1,
                                'style' :  ['style', ['bold', 'italic', 'underline', 'clear']],
                                'font' :  ['font', ['strikethrough', 'superscript', 'subscript']],
                                'fontsize' :  ['fontsize', ['']],
                                'color' : ['color', ['color']],
                                'para' : ['para', ['style', 'ul', 'ol', 'paragraph', 'height']],
                                'insert' : ['Insert', ['link', 'hr']],
                                'misc' : ['Misc', ['fullscreen', 'codeview', 'undo', 'redo']],
                                'placeholder': "Description",
                            }) }}
                    >
                        {{ form_row(form.description, {attr: {'class': 'summernote'}}) }}
                    </div>
                    <div class="form-group">
                        <!-- Label -->
                        <label for="{{ form.url.vars.id }}" class="form-label d-block text-left font-weight-bold">{{ form_label(form.url) }}</label>
                        <!-- Input Field -->
                        <div class="input-group mb-3">
                            {{ form_widget(form.url, {'attr': {'class': 'form-control'}}) }} <!-- Ajout d'une classe de contrôle de formulaire Bootstrap -->
                        </div>

                        <!-- Affichage des erreurs -->
                        <div class="invalid-feedback d-block">
                            {{ form_errors(form.url) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="{{ form.techno.vars.id }}" class="form-label d-block text-left font-weight-bold">{{ form_label(form.techno) }}</label>
                        <div class="input-group mb-3">
                            {{ form_widget(form.techno, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="invalid-feedback d-block">
                            {{ form_errors(form.techno) }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.categories.vars.id }}" class="form-label d-block text-left font-weight-bold">{{ form_label(form.categories) }}</label>
                        <div class="input-group mb-3">
                            {{ form_widget(form.categories, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="invalid-feedback d-block">
                            {{ form_errors(form.categories) }}
                    </div>
                    
                    {{ form_end(form) }}
                </div>
</div>