{% extends 'public/base.html.twig' %}

{% block body %}

	<div class="card mb-5">
		<h4 class="my-4 ml-5"> Systèmes et réseaux </h4>
		<div class="card-body d-flex flex-column flex-md-row flex-wrap align-items-center justify-content-md-center justify-content-xl-start">
			{% set images = [
                {'src': 'images/sys-res/Linux.png', 'alt': 'Linux', 'name': 'Linux'},
                {'src': 'images/sys-res/Windows.png', 'alt': 'Windows', 'name': 'Windows'},
                {'src': 'images/sys-res/VmWare-Workstation.png', 'alt': 'VmWare Workstation', 'name': 'VmWare Workstation'},
                {'src': 'images/sys-res/Proxmox.png', 'alt': 'Proxmox', 'name': 'Proxmox'},
            ] %}

			{% for image in images %}
				<div class="d-flex flex-column mx-2 my-3 col-6 col-md-4 col-xl-2 image-container">
					<img class="mx-auto" alt="{{ image.alt }}" src="{{ asset(image.src) }}" style="max-width: 100%;">
					<p class="mx-auto mt-2 text-center">{{ image.name }}</p>
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="card mb-5">
		<h4 class="my-4 ml-5"> Développement web </h4>
		<div class="card-body d-flex flex-column flex-md-row flex-wrap align-items-center justify-content-md-center justify-content-xl-start">
			{% set images = [
                {'src': 'images/sys-res/Linux.png', 'alt': 'Linux', 'name': 'Linux'},
                {'src': 'images/sys-res/Windows.png', 'alt': 'Windows', 'name': 'Windows'},
                {'src': 'images/sys-res/VmWare-Workstation.png', 'alt': 'VmWare Workstation', 'name': 'VmWare Workstation'},
                {'src': 'images/sys-res/Proxmox.png', 'alt': 'Proxmox', 'name': 'Proxmox'},
                {'src': 'images/sys-res/VirtualBox.png', 'alt': 'VirtualBox', 'name': 'VirtualBox'},
            ] %}

			{% for image in images %}
				<div class="d-flex flex-column mx-2 my-3 col-6 col-md-4 col-xl-2 image-container">
					<img class="mx-auto" alt="{{ image.alt }}" src="{{ asset(image.src) }}" style="max-width: 100%;">
					<p class="mx-auto mt-2 text-center">{{ image.name }}</p>
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="card mb-5">
		<h4 class="my-4 ml-5"> Collaboratif </h4>
		<div class="card-body d-flex flex-column flex-md-row flex-wrap align-items-center justify-content-md-center justify-content-xl-start">
			{% set images = [
                {'src': 'images/sys-res/Linux.png', 'alt': 'Linux', 'name': 'Linux'},
                {'src': 'images/sys-res/Windows.png', 'alt': 'Windows', 'name': 'Windows'},
                {'src': 'images/sys-res/VmWare-Workstation.png', 'alt': 'VmWare Workstation', 'name': 'VmWare Workstation'},
                {'src': 'images/sys-res/Proxmox.png', 'alt': 'Proxmox', 'name': 'Proxmox'},
                {'src': 'images/sys-res/VirtualBox.png', 'alt': 'VirtualBox', 'name': 'VirtualBox'},
    
            ] %}

			{% for image in images %}
				<div class="d-flex flex-column mx-2 my-3 col-6 col-md-4 col-xl-2 image-container">
					<img class="mx-auto" alt="{{ image.alt }}" src="{{ asset(image.src) }}" style="max-width: 100%;">
					<p class="mx-auto mt-2 text-center">{{ image.name }}</p>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}


