{% extends 'public/base.html.twig' %}

{% block body %}
	<div class="mb-5">
		{% for category in categories %}
			<h5 class="mt-2 mb-2 ml-5">
				{{ category.name }}
			</h5>
			<div class="d-flex flex-column flex-md-row flex-wrap align-items-center justify-content-md-center justify-content-xl-start">
				{% for competence in competences %}
					{% if competence.category.id == category.id %}
						<div class="d-flex flex-column mx-2 my-3 col-md-4 col-lg-3 col-xl-2 image-container">
							<img src="{{ vich_uploader_asset(competence, 'imageFile') }}" alt="{{competence.name }}" title="{{ competence.name }}" class="card-img-top img-fluid mx-auto" style="max-width: 80px;">
							<p class="mx-auto mt-2 text-center">{{ competence.name }}</p>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		{% else %}
			<div class="col-md-12">
				<div class="alert alert-warning">
					Aucune compétence n'a été trouvée.
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
