{% extends 'base.html.twig' %}

{% block body %}
	<div class="card mb-4 d-none d-md-block">
		<img class="card-img-top" src="{{ asset('images/presentation-img-1.jpg') }}" alt="Description de l'image">
		<div class="card-body pt-0 card-img-overlay d-flex align-items-center justify-content-center">
			<div class="row col-12 justify-content-center align-items-center">
				<div class="col-2 text-center">
					<img src="{{ asset('images/avatar.jpeg') }}" alt="user-avatar" class="img-circle img-fluid">
				</div>
				<div class="col-6">
					<h2 class="lead text-warning">
						<b style="font-size: 18px;">
							{% set strings = [
							'William Mbakop',
							'Technicien supérieur Systèmes et Réseaux',
							'Passionné de cybersécurité',
						] %}
							<span data-controller="symfony--ux-typed" data-symfony--ux-typed-loop-value="true" data-symfony--ux-typed-show-cursor-value="true" data-symfony--ux-typed-cursor-char-value="|" data-symfony--ux-typed-strings-value="{{ strings|json_encode|e('html_attr') }}"></span>
						</b>
					</h2>
					<ul class="ml-0 mt-3 mb-0 fa-ul text-muted">
						{{ ux_icon('mdi:location', {height: '20px', width: '18px', 'aria-hidden': true}) }}
						Ile-de-france
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="card mb-4 d-block d-md-none">
		<img class="card-img-top" src="{{ asset('images/presentation-img-1.jpg') }}" alt="Description de l'image">
		<div class="card-body card-img-overlay d-flex align-items-center justify-content-center">
			<div class="row col-9 justify-content-center align-items-center">
				<div class="col-6 text-center">
					<img src="{{ asset('images/avatar.jpeg') }}" alt="user-avatar" class="img-circle img-fluid">
				</div>
			</div>
		</div>
	</div>
	<div class="d-md-none">
		<h4 class="text-center mb-3 text-warning">
			William Mbakop
		</h4>
		<p style="font-size : 12px" class="text-center mb-2">
			Technicien supérieur Systèmes et Réseaux
		</p>
		<p style="font-size : 12px" class="text-center">
			Passionné de cybersécurité
		</p>
	</div>
	<div class="content px-2 mt-5">
		<p class="text-justify">
			Fort de dix ans d'expérience professionnelle dans le secteur de la banque et de l'assurance, j'ai pris la décision audacieuse de me réorienter vers l'informatique. Cette transition a débuté par le développement web, un domaine où j'ai pu exprimer ma créativité tout en acquérant des compétences techniques solides. Au fil du temps, mon intérêt s'est naturellement dirigé vers les systèmes et réseaux, un secteur dynamique et en constante évolution.
		</p>
		<p class="text-justify">
			Aujourd'hui, je suis déterminé à me spécialiser dans l'administration de réseaux ou dans la cybersécurité, des domaines qui me passionnent profondément. Mon parcours, marqué par la curiosité et l'envie d'apprendre, reflète ma conviction que l'innovation et la technologie peuvent transformer notre monde. Chaque jour, je m'efforce d'approfondir mes connaissances et de relever de nouveaux défis.</p>
		<p class="text-justify">
			Comme le dit si bien Nelson Mandela :
			<span class="font-italic text-warning">
				"Je ne perds jamais. Soit je gagne, soit j'apprends."
			</span>
		</p>
		<p class="text-justify">
			Cette citation incarne ma philosophie : chaque expérience est une occasion de grandir, et je suis résolument engagé à avancer sur ce chemin de découverte et d'excellence.
		</p>
	</div>
{% endblock %}
