<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Découvrez le portfolio de {{ app.request.server.get('AUTHOR_NAME') }}, étudiant en systèmes et réseaux et développement web. Explorez mes projets, compétences et réalisations.">
		<meta name="keywords" content="informatique, systèmes, réseaux, cybersécurité, développement web, portfolio, {{ app.request.server.get('AUTHOR_NAME') }}, projets, compétences">
		<meta name="author" content="{{ app.request.server.get('AUTHOR_NAME') }}">
		<link rel="icon" href="{{ asset('images/favicon-16x16.png') }}" type="image/png">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	


		<title>
			{% block title %}
				Portfolio William Mbakop
			{% endblock %}
		</title>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

	</head>
	<body {{ stimulus_controller('reload-content') }} class="dark-mode hold-transition sidebar-mini layout-fixed min">
		<div class="wrapper">
			{# {% include 'fragments/_flash-messages.html.twig' %} #}

			{# Preloader #}

				<div class="preloader flex-column justify-content-center align-items-center"> <img class="animation__shake img-circle" src="{{ asset('images/avatar-BD-NB.jpg') }}" alt="preloader"> </div>


			{% include 'public/fragments/nav/_topbar.html.twig' %}
			{% include 'public/fragments/nav/_aside.html.twig' %}

			<div class="content-wrapper">
				<section class="content mt-4 px-5">

					<div class="container-fluid p-0">
						<div class="card-body">

							<div class="my-2" {{ stimulus_target('reload-content', 'content') }}> {% block body %}{% endblock %}

								</div>
							</section>
						</div>

						{% include 'public/fragments/footer/_footer.html.twig' %}

						{% if app.request.server.get('RIGHT_SIDEBAR') %}
							<aside class="control-sidebar control-sidebar-dark"></aside>
						{% endif %}
					</div>
				</div>
			</div>
		</body>
	</html>
</body></html>
