{% extends 'public/base.html.twig' %}

{% block body %}
	<section class="content rss-feed-section" {{ stimulus_controller('select2', { url: path('app_public_veille_show') } ) }}>
		<div>
			<!-- Conteneur de sélection -->
			<div class="form-group mb-5" style="min-width: 200px; max-width: 300px; width: 100%;">
				<select name="veille" class="form-control select2 mb-3" required style="width: 100%;" {{ stimulus_target('select2', 'select') }}>
					{% for veille in veilles %}
						<option class="text-white" id="{{ loop.index }}" value="{{ veille.id }}" {% if veilleID is defined and veilleID == veille.id %} selected {% endif %}>
							{{ veille.name }}
						</option>
					{% endfor %}
				</select>
			</div>
		</div>

		<div {{ stimulus_target('select2', 'content') }} class"mt-5">
			{% include "public/fragments/body/veille/_content.html.twig" %}
		</div>
	</section>
{% endblock %}
